

body {
	text-align: center;
	color: white;
	background-color: black;
	border: 5px rgb(0,200,255) double;
	padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 200px;
    padding-left: 80px;

}


h1 {
    color: rgb(0,200,255);
    font-size: 40px;
    line-height: 2;
}

p{
	color: rgb(255,255,255);
	font-size: 30px;
	//background-color: rgb(0,200,255);
	font-family: "Trebuchet MS", Times, serif;
	z-index: 5;
}

img {
	margin: 50px;
	max-width: 30%;
	max-height: auto;
	transform: translate(0, 50%)
	z-index: 1;
}

@media screen and (min-width: 768px){
            .rwd-line { display: inline; }
}
